<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="alert alert-secondary">
                    <p class="mb-3">
                        <b><%= blog.baslik %> </b><br> isimli bloğu silmek istediğine emin misin?
                    </p>
                    <form method="post">
                        <input hidden name="blogid" value="<%= blog.id %>">
                        <button class="btn btn-danger" type="submit">Evet</button>
                        <a class="btn btn-primary" href="/admin/blogs">Vazgeç</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>